<div class="ui inverted menu text-size-small desktop-menu" style="background-color: #91060b">
  {{#link-to 'about' class="item text-white bg-transparent"}}About{{/link-to}}
  {{#link-to 'admission.details' class="item text-white"}}Admissions{{/link-to}}
  {{#link-to 'campus-life.hostels' class="item text-white"}}Campus Life{{/link-to}}
  {{#link-to 'events' class="item text-white"}}News and Events{{/link-to}}
  {{#link-to 'contact' class="item text-white"}}Contacts{{/link-to}}
  {{#link-to 'gallery' class="item text-white"}}Gallery{{/link-to}}
  {{#link-to 'why-sunrise' class="item text-white"}}Why Sunrise Accademy{{/link-to}}
  {{#if isDevelopment}}
    {{#if session.isAuthenticated}}
      <div class="right item cursor-pointer" {{action 'invalidateSession'}}>Logout</div>
    {{else}}
      {{#link-to 'login' class="right item text-white"}}Login{{/link-to}}
    {{/if}}
  {{/if}}
</div>
<div class="ui inverted menu text-size-small mobile-menu" style="background-color: #91060b">
  <div class="item pusher padding-vs-top padding-vs-bottom padding-sm-left">
    <i class="sliders horizontal icon text-white cursor-pointer" {{action 'toggleMenu'}} style="font-size: 22px !important"></i>
  </div>
  <div class="ui sidebar inverted vertical menu">
    {{#link-to 'about' class="item text-white"}}About{{/link-to}}
    {{#link-to 'admission.details' class="item text-white"}}Admissions{{/link-to}}
    {{#link-to 'campus-life.hostels' class="item text-white"}}Campus Life{{/link-to}}
    {{#link-to 'events' class="item text-white"}}News and Events{{/link-to}}
    {{#link-to 'contact' class="item text-white"}}Contacts{{/link-to}}
    {{#link-to 'gallery' class="item text-white"}}Gallery{{/link-to}}
    {{#link-to 'why-sunrise' class="item text-white"}}Why Sunrise Accademy{{/link-to}}
    {{#if isDevelopment}}
      {{#if session.isAuthenticated}}
        <div class="item cursor-pointer" {{action 'invalidateSession'}}>Logout</div>
      {{else}}
        {{#link-to 'login' class="right item text-white"}}Login{{/link-to}}
      {{/if}}
    {{/if}}
  </div>
</div>
{{yield}}
